.event-card-scroller {
	position: relative;
	flex-direction: column;

	-webkit-mask-image: linear-gradient(to bottom, #0002 0, black var(--top-mask-size, 0), black calc(100% - var(--bottom-mask-size, 0)), #0002 100%);
  mask-image: linear-gradient(to bottom, #0002 0, black var(--top-mask-size, 0), black calc(100% - var(--bottom-mask-size, 0)), #0002 100%);
  --top-mask-size: 0px;
  --bottom-mask-size: 0px;

	flex-grow: 1;
	overflow: auto;
	height: 100%;
	gap: min(4vw, 20px);
}

.event-card-wrapper {
	transition: 0.1s;
	border-radius: var(--rounded);
	outline: 3px solid transparent;
}
.event-card-wrapper:focus {
	outline: none;
	transform: none;
}

.event-card {
	display: flex;
	position: relative;
	overflow: hidden;
	transition: 0.1s;
	width: 100%;
	/* background-image applied dynamically */
	--clip-diag-slope: 15px;
	--clip-end-offset: min(5vw, 40px);
}

.event-card-content {
	--border-width: 2px;
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 1.4rem 0;
	box-sizing: border-box;
	width: 100%;
	clip-path: polygon(
		calc(var(--border-width) + var(--clip-diag-slope)) 0, 
		calc(100% - var(--border-width) - var(--clip-end-offset)) 0, 
		calc(100% - var(--border-width) - var(--clip-end-offset) - var(--clip-diag-slope)) 100%, 
		var(--border-width) 100%
	);
	transition: 0.1s;
	border: var(--border-width) solid transparent;
}
.event-card:hover .event-card-content {
	clip-path: polygon(
		0 0, 
		100% 0, 
		100% 100%, 
		0 100%
	);
	border-radius: var(--rounded);
	border: 2px solid white;
}
.event-card:hover .event-card-year-bold {
	clip-path: polygon(
		var(--clip-diag-slope) 0, 
		calc(100%) 0, 
		calc(100%) 100%, 
		0 100%
	);
	padding-right: 1rem;
}
.event-card:hover .event-card-title, .event-card:hover .event-card-subtitle {
	padding-left: 0.5rem;
}

.event-card-title {
	font-family: Fugaz One, Inter, system-ui;
	font-weight: 800;
	margin: 0 1rem;
	padding-left: min(3vw, 1rem);
	word-wrap: break-word;
	font-size: 3rem;
	line-height: 1.2;
	transition: padding 0.1s;
}
.event-card-subtitle {
	font-family: Roboto Mono Variable, Consolas, Figtree, Inter, system-ui;
	font-style: italic;
	font-weight: 700;
	margin: 0 1rem;
	padding-left: min(3vw, 1rem);
	word-wrap: break-word;
	font-size: 1rem;
	line-height: 1.2;
	transition: padding 0.1s;
}
.event-card-year-bold {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	font-family: Fugaz One;
	font-weight: 700;
	z-index: 10;
	padding: 0 1.5rem;
	clip-path: polygon(
		var(--clip-diag-slope) 0, 
		calc(100%) 0, 
		calc(100% - var(--clip-diag-slope)) 100%, 
		0 100%
	);
	transition: padding 0.1s;
}

/* STYLES RELATED TO THE FADE EFFECT WHEN SCROLLING */
.scroll-down-icon, .scroll-up-icon {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);

	width: 1.6rem;
	height: 1.6rem;
	transition: opacity 0.2s, filter 0.1s;
}
.scroll-down-icon {
	bottom: 0;
	cursor: pointer;
}
.scroll-down-icon:hover {
	filter: brightness(0.8);
}
.scroll-up-icon {
	top: 0;
	cursor: pointer;
}
.scroll-down-icon:hover {
	filter: brightness(0.8);
}
.event-card-scroller.fade-top {
  --top-mask-size: 2rem !important;
}
.event-card-scroller.fade-bottom {
  --bottom-mask-size: 2rem !important;
}

/* invis scrollbar */
.event-card-scroller::-webkit-scrollbar {
	background-color: transparent;
	width: 0;
}
.event-card-scroller::-webkit-scrollbar-thumb {
	background-color: transparent;
}
.event-card-scroller::-webkit-scrollbar-track {
	background-color: transparent;
}

