@font-face {
	font-family: 'Horse Saguaro';
	src: url('../assets/fonts/hackgt11/HorseSaguaro.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

body {
	--main-margin-top: min(4rem, 6%);

	--rounded: 0.3rem;

	--event-card-outline-width: 3px;
	--event-card-shadow: 0 0 3px #0006;

	color: #fafafa;
	font-family: DM Sans Variable, Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}